<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Review</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container d-flex flex-column justify-content-center">
	<h1 class="text-center">Edit Movie Review</h1>

		<form th:object="${review}" th:action="@{/update/{id}(id=${reviewId})}" method="post">
		  	<div class="form-group">
			  	<label for="name">Movie name</label>
				<input type="text" id="name" th:field="*{name}" class="form-control"/>
			</div>
			<div class="form-group">
			  	<label for="year">Release year</label>
				<input type="number" id="year" th:field="*{release_year}" class="form-control"/>
			</div>
			<div class="form-group">
			  	<label for="director">Director</label>
				<input type="text" th:field="*{director}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="category">Category</label>
				<select id="category" th:field="*{category}" class="form-control">
					<option th:each="category : ${categories}" th:value="${category.category_id}" th:text="${category.name}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="rating">Rating</label>
				<select id="rating" th:field="*{rating}" class="form-control">
				    <option th:each="i : ${#numbers.sequence(10,1,-1)}" th:value="${i}" th:text="${i}"></option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="review">Review</label>
				<textarea id="review" class="form-control" th:field="*{user_review}" rows="4" style="resize: vertical;"></textarea>
			</div>
			<input type="submit" class="btn btn-success" value="Update"></input>
			<input type="reset" value="Reset" class="btn btn-warning" />
			<a href="/" class="btn btn-primary"> Back to Reviews</a>
		</form>
	</div>
</body>
</html>