<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Rating list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
	<div class="col-md-3">
		<h1>Ratings</h1>
	</div>
	<div class="col-md-4">
		<h3>Logged in as: <span sec:authentication="name"></span></h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>  
       <table class="table table-striped">
               <tr>
               <td><b>Movie name</b></td>
               <td><b>Release Year</b></td>
               <td><b>Director</b></td>
               <td><b>Category</b></td>
               <td><b>Rating by</b></td>
               <td><b>Rating</b></td>
               <td><b>      </b></td>
               		<th sec:authorize="hasRole('ADMIN')"> </th>
              </tr>
               <tr th:each = "review : ${reviews}">
               <td th:text= "${review.name}"></td>
               <td th:text= "${review.release_year}"></td>
               <td th:text= "${review.director}"></td>
               <td th:text= "${review.category.name}"></td>
               <td th:text= "${review.user.username}"></td>
               <td th:text= "${review.rating} + ' / 10'"></td>
               		<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/delete/{id}(id=${review.id})}" class="btn btn-xs btn-danger">Delete</a></td>
              </tr>
       </table>
       <a href="/addreview" class="btn btn-success">Add Review</a>
</div>
</body>
</html>